/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@font-face {
    font-family: 'anja_eliane_accentnornal';
    src: url('fonts/anja_eliane_accent002-webfont.eot');
    src: url('fonts/anja_eliane_accent002-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/anja_eliane_accent002-webfont.woff') format('woff'),
         url('fonts/anja_eliane_accent002-webfont.ttf') format('truetype'),
         url('fonts/anja_eliane_accent002-webfont.svg#anja_eliane_accentnornal') format('svg');
    font-weight: normal;
    font-style: normal;

}



.container-fluid {padding:0 !important; margin:0;}
.registrationblock {padding:0 !important; margin:0 !important;}
.registrationblock .span2 {padding:0 !important; margin:0 !important;}

.span3 .rego-r1c1 { padding: 0; margin-left: 0 !important; width: 25% }
.span3 .rego-r1c2 { padding: 0; margin-left: 0 !important; width: 25%}
.rego-r1c3 { padding: 0; margin-left: 0;}
.rego-r1c4 {background-image:url('registration4.jpg');}
.rego-r1c5 {background-image:url('registration5.jpg');}
.rego-r1c6 {background-image:url('registration6.jpg');}
.regotext {padding:60px 60px;}


.rego-r2c1 {
	background-color:#eaeaea; text-align:center; 
	font-family: 'anja_eliane_accentnornal' !important; 
	text-transform: uppercase;
	font-size: 40px;
	line-height:50px;
}


.rego-r2c2 {
	background-color:#000; 
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-family: 'anja_eliane_accentnornal';
	font-size: 40px;
	line-height:50px;
}


#left-cta, #right-cta {
	cursor: pointer;
}

#left-cta:hover {
	opacity: 0.7;
	background-color: #009dff;
	color: #eaeaea;
}

#right-cta:hover {
	opacity: 0.7;
	background-color: #009dff;
	
}

.logo {
	padding:5px 20px 10px 20px;

}

.nav li {padding:10px;}


