h1.mainTitle {
 	color: #009dff !important;
 	text-shadow: 1px 1px 1px #444;

}

.trait-box.photography dl {border-color: #0075be;}
.trait-box.branding dl {border-color: #0075be;}
.trait-box.design dl {border-color: #0075be;}
